<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link rel="stylesheet" th:href="@{/home.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Bem-vindo ao Sistema de Gestão de Consultas</h1>

      <p sec:authorize="isAuthenticated() and hasRole('PACIENTE')">
        Paciente autenticado!
      </p>
      <p sec:authorize="!isAuthenticated()">Não autenticado</p>

      <div
        sec:authorize="isAuthenticated() and hasRole('PACIENTE')"
        class="infos"
      >
        <h3 th:text="'Olá ' + ${paciente.nome}"></h3>
        <div class="linhasInfo">
          <strong>Nome:</strong> <span th:text="${paciente.nome}"></span>
        </div>
        <div class="linhasInfo">
          <strong>Email:</strong> <span th:text="${paciente.email}"></span>
        </div>
        <div class="linhasInfo">
          <strong>Idade:</strong> <span th:text="${paciente.idade}"></span>
        </div>
        <div class="linhasInfo">
          <strong>Nº Utente:</strong>
          <span th:text="${paciente.numeroUtente}"></span>
        </div>
      </div>

      <p sec:authorize="isAuthenticated() and hasRole('MEDICO')" th:if="${apenasMedico}">
        Médico autenticado!
      </p>

      <p sec:authorize="!isAuthenticated()">Não autenticado</p>

      <div
        sec:authorize="isAuthenticated() and hasRole('MEDICO')"
        class="infos"
      >
        <h3 th:if="${apenasMedico}" th:text="'Olá ' + ${medico.nome}"></h3>

       <h3 sec:authorize="isAuthenticated() and hasRole('ADMIN')" th:text="'Informações do Administrador'"></h3>

 <div th:if="${apenasMedico}" class="linhasInfo">
          <strong>Nome:</strong> <span th:text="${medico.nome}"></span>
        </div>
        <div class="linhasInfo">
          <strong>Email:</strong> <span th:text="${medico.email}"></span>
        </div>
        <div th:if="${apenasMedico}" class="linhasInfo">
          <strong>Idade:</strong> <span th:text="${medico.idade}"></span>
        </div>
        <div th:if="${apenasMedico}" class="linhasInfo">
          <strong>Nº Carteira Médica:</strong>
          <span th:text="${medico.numeroCarteiraMedica}"></span>
        </div>
        <div th:if="${apenasMedico}" class="linhasInfo">
          <strong>Especialidade:</strong>
          <span th:text="${medico.especialidade}"></span>
        </div>
      </div>

      <a sec:authorize="hasRole('PACIENTE')" th:href="@{/paciente/consultas}">
        Minhas Consultas
      </a>
      <a
        sec:authorize="hasRole('PACIENTE')"
        th:href="@{/paciente/consultas/criar}"
      >
        Criar Consulta
      </a>
      <a sec:authorize="hasRole('ADMIN')" th:href="@{/medico/admin/consultas}">
        Todas as Consultas
      </a>
      <a th:if="${apenasMedico}" th:href="@{/medico/consultas}">
          Minhas Consultas
      </a>

      <a
        sec:authorize="isAuthenticated() and principal.username == 'admin@admin.com'"
        th:href="@{/medico/admin/adicionar}"
        class="link"
      >
        + Adicionar Médico
      </a>
      <a class="logout" th:href="@{/logout}">Logout</a>
    </div>
  </body>
</html>
