<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link rel="stylesheet" th:href="@{/login.css}" />
  </head>
  <body>
    <div class="container">
      <h2>Login</h2>

      <form th:action="@{/login}" method="post">
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="username" required />

        <label for="password">Password:</label><br />
        <input
          type="password"
          id="password"
          name="password"
          required
        /><br /><br />

        <button type="submit">Entrar</button>
      </form>

      <p class="error" th:if="${param.error}">Credenciais inválidas!</p>
      <p class="logout" th:if="${param.logout}">
        Sessão terminada com sucesso!
      </p>

      <a class="link" th:href="@{/registo}">Criar conta</a>
    </div>
  </body>
</html>
