<!DOCTYPE html>
<html lang="pt-PT" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Detalhes da Consulta</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link rel="stylesheet" th:href="@{/verConsulta.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Detalhes da Consulta</h1>

      <table class="consulta-table">
        <tr>
          <th>Data:</th>
          <td th:text="${#dates.format(consulta.data, 'dd/MM/yyyy')}"></td>
        </tr>
        <tr>
          <th>Hora:</th>
          <td th:text="${consulta.hora}"></td>
        </tr>
        <tr>
          <th>Estado:</th>
          <td th:text="${consulta.status}"></td>
        </tr>
      </table>

      <div class="buttons">
        <a th:href="@{/pacientes/todas-consultas-paciente}" class="link"
          >← Voltar à Lista</a
        >

        <form
          th:if="${consulta.status.name() == 'PENDENTE'}"
          th:action="@{'/paciente/consultas/' + ${consulta.id} + '/cancelar'}"
          method="post"
        >
          <button type="submit" class="danger">Cancelar Consulta</button>
        </form>
      </div>
    </div>
  </body>
</html>
